.wcLogin {
  text-align: center;
  color: #d32f2f;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}

.form-group input {
  width: 100%;
  max-width: 330px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  margin-bottom: 25px;
}

.form-group label {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.forgot {
  text-align: center;
  color: #d32f2f;
}

.forgot a {
  text-decoration: none;
  color: #d32f2f;
}

.logbtn {
  display: inline-block;
  background-color: #d32f2f;
  color: white;
  padding: 12px 35px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 118px;
  margin-bottom: 25px;
}

.Log-Req {
  margin-left: 447px;
  margin-bottom: 50px;
  background: white;
  width: 350px;
  padding: 50px 50px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
